<!DOCTYPE html>
<html lang="en" data-ng-app="demo">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<title>Employee Portal</title>
	<link href="/css/app.css" rel="stylesheet" >
	<!-- Angular Material requires Angular.js Libraries -->
    <script src="/webjars/angularjs/1.4.9/angular.js"></script>
	<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
	<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
	<!-- Controller -->
	<script src="/js/app.js"></script>
	<!-- <script src="/js/controller.js"></script> -->
</head>
	
<body data-ng-controller="demoController">

<img alt="Employee Portal" src="/img/Employer-Portal-Banner.jpg">

<div class="font row">
	<div class="col-md-6">
		<label>Click Enter button to get all employees</label>
		<button class="button" type="submit" data-ng-click="getEmployee()">Enter</button>
		<p>{{employees}}</p>
	</div>
</div>

<div class="font row">
	<div class="col-md-6">
		<label>Enter employee id to get employee details by id</label>
		<input type="text" placeholder="Enter employee id here" data-ng-model="id">
		<button class="button" type="submit" data-ng-click="getEmployeeById()">Enter</button>
		<p>{{employee}}</p>
	</div>
</div>

<ng-view></ng-view>
</body>
</html>
